html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.x {
  height: 100%;
}

#TOPHALF {
  height: 50%;
  background: url("Background.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;    
  font-family: 'Roboto', sans-serif;

}

#BOTTOMHALF {
  height: 50%;
  background: white;
}