body {
  background-color: lightblue; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  background-color: #4285F4; /* Google Blue */
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 250px;
  transition: background-color 0.3s, transform 0.1s;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin: 10px
}
