body {
  background-color: lightblue; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  width: 100%;
  height: 100vh; 
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.tables {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: grab;
  user-select: none; 
  position: absolute; 
}
.button {
  background-color: #4285F4; /* Google Blue */
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 250px;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
